[submodule "submodules"]
	path = submodules
	url = https://github.com/boostorg/mp11
[submodule "submodule/mp11"]
	path = submodule/mp11
	url = https://github.com/boostorg/mp11
[submodule "submodule/jsoncpp"]
	path = submodule/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "submodule/crisp"]
	path = submodule/crisp
	url = https://github.com/gunnerDgd/crisp
	branch = Alpha/0.1.0
